body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;}

/* Estilos del pie de página */
.footer {
  margin-top: 24px;
  text-align: center;
  font-size: 14px;
  color: #6b7280; /* Equivalente a text-muted-foreground */
}

.footer p {
  margin: 4px 0;
}
.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #e1edfd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

canvas {
  position: absolute;
  inset: 0;
}

.content {
  position: relative;
  z-index: 10;
  text-align: center;
  width: 90%; /* Cambiado a 90% para hacerla más adaptable */
  max-width: 650px;
  border-radius: 8px;
  border: 1px solid #e7f4ff;
  background-color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.content h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;  font-weight: bolder;
  font-size: 1.8rem; /* Tamaño adaptable */
  color:  #2563eb;
  margin-top: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

a {
  text-decoration: none;
  margin: 5px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 8px;
  width: 80%; /* Cambiado a 80% para hacerlos adaptables */
  max-width: 500px;
  box-sizing: border-box;
  color: black;
}

.btn-primary {
  background-color: #2563eb;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;  color: white;
  font-weight: bolder;
  font-size: larger;
  border: none;
}

.btn-primary:hover {
  background-color: #1d4ed8;
}

.btn-outline {
  color: black;
  background-color: transparent;
  font-weight: bolder;
  font-size: larger;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;  color: #000000;
  border: 2px solid  #d1d5db;;
}

.btn-outline:hover {  
  border: 2px solid #f3f4f6;
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 768px) {
  .content {
    width: 90%; /* Ocupa el 90% del ancho en pantallas pequeñas */
    height: 70%;
    padding: 15px;
  }

  .content h1 {
    font-size: 1.5rem; /* Fuente más pequeña para adaptarse */
    margin-top: 25px;
  }

  .buttons{
    height: 60%;
    align-items: center;
    justify-content: center;
  }

  a {
    font-size: 1em; /* Reduce ligeramente el tamaño del texto */
    width: 100%; /* Ocupa el 100% del contenedor */
    height: 20%;
    text-align: center;
    padding-top: 18px;
  }
  .footer {
    margin-top: -15px;
  }
}
