body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
    height: 100dvh;
    overflow: hidden; /* Asegura que no se produzca desplazamiento no deseado */
}

a{
    text-decoration: none;
    color: white;
}

/* Estilos del icono de hamburguesa */
.hamburger-icon {
    font-size: 24px;
    cursor: pointer;
    display: none; /* Ocultar en pantallas grandes */
    padding: 1rem;
}

/* Menú lateral */
#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background-color: #f8f9fa;
    border-right: 0.5px solid #ddd;
    width: 300px;
    height: 100vh; 
    box-sizing: border-box;
    transition: transform 0.3s ease;
    position: fixed; /* Asegura que el menú esté siempre en su lugar */
    top: 0;
    left: 0;
    z-index: 1000; /* Para que el menú se muestre por encima del contenido */
}

/* Menú en pantallas pequeñas (se desplaza fuera de la pantalla cuando no está activo) */
@media (max-width: 768px) {
    #menu {
        transform: translateX(-100%);
    }

    /* Mostrar el menú cuando se activa */
    #menu.active {
        transform: translateX(0);
        position: fixed;
        left: 0;
        top: 3.5vh;
        height: 98vh; /* Ajusta el tamaño para ocupar el espacio restante */
        overflow-y: auto; /* Permite scroll en el menú si el contenido es extenso */
        transition: transform 0.3s ease-in-out;
        background-color: #f8f9fa;
        z-index: 1000; /* Asegura que el menú esté detrás del icono de hamburguesa */
    }

    /* Ícono de hamburguesa visible solo en dispositivos móviles */
    .hamburger-icon {
        cursor: pointer;
        display: block;
        padding: 1rem;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1001; /* Asegura que el icono esté por encima del menú */
        height: 2.8%;
        background: #f8f9fa;
        color: #0d6efd;
        width: 100%;
    }

    /* Contenedor de gráficas ajustado para ocupar el espacio restante */
    #charts {
        margin-top: 14%; /* Ajusta el espacio para el icono de hamburguesa */
    }
    #submit-container {
        width: 100%; /* Asegura que ocupe todo el ancho en móviles */
        padding: 10px; /* Añade un margen interno */
        box-sizing: border-box; /* Incluye padding y borde en el ancho total */
        padding-bottom: calc(10px + env(safe-area-inset-bottom)); /* Ajuste para el área de gestos */
    }

    ul li button {
        font-size: 14px; /* Reduce el tamaño de fuente en móviles */
        padding: 8px; /* Reduce el padding para evitar desbordamiento */
    }
}


/* Menú fijo en pantallas grandes */
@media (min-width: 769px) {
    #menu {
        position: fixed; /* Fijar el menú en la pantalla */
        top: 0;
        left: 0;
        height: 100vh; /* Asegura que el menú ocupe toda la altura de la pantalla */
    }

    .hamburger-icon {
        display: none;
    }

    /* Contenedor de gráficas ajustado para ocupar el espacio restante */
    #charts {
        display: flex;
        flex: 1;
        flex-direction: column;
        overflow-y: auto; /* Solo scroll si las gráficas crecen */
        width: calc(100% - 300px); /* Ajusta el ancho de las gráficas para que ocupe el espacio restante */
        margin-left: 300px; /* Deja espacio para el menú fijo */
    }
}

/* Contenedor de formularios */
#form-menu {
    width: 100%;
    position: relative;
    margin-right: 32px;
    height: 100%; /* Asegura que el formulario ocupe todo el alto disponible */
}

/* Botón de envío fijo en la parte inferior */
#submit-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 0; /* Lo coloca en la parte inferior */
    width: 85%; /* Asegura que el botón ocupe todo el ancho */
    margin-bottom: 15%;
}

/* Estilos para los elementos de la lista */
ul li {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}

/* Estilo para select y button */
ul li select, 
ul li button {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    border: none;
    padding: 10px;
    font-size: 15px;
    border-radius: 7px;
    background-color: rgb(227, 226, 226);
    width: 100%;
}

ul li button {
    background-color: #2563eb;
    color: white;
    font-weight: bolder;
    margin-bottom: 8px;
    justify-content: center;
}

button:hover {
    background-color: #1d4ed8;
}

/* Contenedor dinámico */
#dynamic-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0;
}

.class-li {
    display: flex;
    justify-content: space-between;
}

#signal-config li {
    display: flex;
    flex-direction: column;
}

#fourier-options {
    padding-right: 55px;
}

/* Contenedor de gráficas a la derecha */
#charts {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: auto; /* Solo scroll si las gráficas crecen */
    width: 100%; /* Asegura que las gráficas ocupen todo el espacio */
}

/* Estilo de cada contenedor de gráfica */
.plot-container {
    border: 1px solid #ccc; /* Agrega un borde para visualizar el área de la gráfica */
    margin: 10px; /* Espaciado entre gráficas */
}
