body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
    height: 100dvh;
    overflow: hidden; /* Asegura que no se produzca desplazamiento no deseado */
}
p{
    color: red;
}
a{
    text-decoration: none;
    color: white;
}

/* Estilos del icono de hamburguesa */
.hamburger-icon {
    font-size: 24px;
    cursor: pointer;
    display: none; /* Ocultar en pantallas grandes */
    padding: 1rem;
}

/* Menú lateral */
#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background-color: #f8f9fa;
    border-right: 0.5px solid #ddd;
    width: 300px;
    height: 100vh; 
    box-sizing: border-box;
    transition: transform 0.3s ease;
    position: fixed; /* Asegura que el menú esté siempre en su lugar */
    top: 0;
    left: 0;
    z-index: 1000; /* Para que el menú se muestre por encima del contenido */
}


/* Menú en pantallas pequeñas (se desplaza fuera de la pantalla cuando no está activo) */
@media (max-width: 768px) {
    #menu {
        transform: translateX(-100%);
    }

    /* Mostrar el menú cuando se activa */
    #menu.active {
        transform: translateX(0);
        position: fixed;
        left: 0;
        top: 3.5vh;
        height: 98vh; /* Ajusta el tamaño para ocupar el espacio restante */
        transition: transform 0.3s ease-in-out;
        background-color: #f8f9fa;
        z-index: 1000; /* Asegura que el menú esté detrás del icono de hamburguesa */
    }

    /* Ícono de hamburguesa visible solo en dispositivos móviles */
    .hamburger-icon {
        cursor: pointer;
        display: block;
        padding: 1rem;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1001; /* Asegura que el icono esté por encima del menú */
        height: 2.8%;
        background: #f8f9fa;
        color: #0d6efd;
        width: 100%;
    }

    /* Contenedor de gráficas ajustado para ocupar el espacio restante */
    #charts {
        margin-top: 14%; /* Ajusta el espacio para el icono de hamburguesa */
    }
    #submit-container {
        width: 100%; /* Asegura que ocupe todo el ancho en móviles */
        padding: 10px; /* Añade un margen interno */
        box-sizing: border-box; /* Incluye padding y borde en el ancho total */
        padding-bottom: calc(10px + env(safe-area-inset-bottom)); /* Ajuste para el área de gestos */
    }

    ul li button {
        font-size: 14px; /* Reduce el tamaño de fuente en móviles */
        padding: 8px; /* Reduce el padding para evitar desbordamiento */
    }
}


/* Menú fijo en pantallas grandes */
@media (min-width: 769px) {
    #menu {
        position: fixed; /* Fijar el menú en la pantalla */
        top: 0;
        left: 0;
        height: 100vh; /* Asegura que el menú ocupe toda la altura de la pantalla */
    }

    .hamburger-icon {
        display: none;
    }

    /* Contenedor de gráficas ajustado para ocupar el espacio restante */
    #charts {
        display: flex;
        flex: 1;
        flex-direction: column;
        overflow-y: auto; /* Solo scroll si las gráficas crecen */
        width: calc(100% - 300px); /* Ajusta el ancho de las gráficas para que ocupe el espacio restante */
        margin-left: 300px; /* Deja espacio para el menú fijo */
    }
}

/* Contenedor de formularios */
#form-menu {
    position: relative;
    height: 100%; /* Asegura que el formulario ocupe todo el alto disponible */
    width: 100%;
}

/* Contenedor de los botones al final */
#submit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Espaciado entre los botones */
    margin: 10px 0;
    position: relative;
    bottom: 0;
}

#submit{
    margin: 0;
    margin-bottom: 9px;
    margin-left: 15px;
    width: 90%;
    padding-left: 0;
}

#button-home{
    display: flex;
    background-color: transparent;
    border: 2px solid #d1d5db;
}

/* Estilos para los elementos de la lista */
ul li {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}

/* Estilo para select y button */
ul li select, 
ul li button {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    border: none;
    padding: 10px;
    font-size: 15px;
    border-radius: 7px;
    background-color: rgb(227, 226, 226);
    width: 100%;
}

ul li button {
    background-color: #2563eb;
    color: white;
    font-weight: bolder;
    justify-content: center;
    margin-right: 5px;
}

button:hover {
    background-color: #1d4ed8;
}

/* Contenedor dinámico */
#dynamic-content {
    list-style: none; /* Sin viñetas */
    margin: 0;
    padding: 0;
}
/* Asegura que el formulario ocupe toda la altura disponible */
#signal-form {
    display: flex;
    flex-direction: column;
    height: 90vh; /* Hace que el formulario ocupe toda la ventana */
    margin: 0;
}
/* Lista principal toma todo el espacio disponible */
#form-list {
    width: 90%;
    flex: 1; /* Crece para ocupar el espacio restante */
    overflow-y: scroll; /* Permite scroll aunque se oculte la barra */
    margin-left: 15px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    /* Oculta la barra de desplazamiento en navegadores modernos */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE y Edge antiguo */
}

/* Oculta la barra de desplazamiento en navegadores basados en WebKit */
#form-list::-webkit-scrollbar {
    display: none;
}
.class-li {
    display: flex;
    justify-content: space-between;
}

#signal-config li {
    display: flex;
    flex-direction: column;
}

#fourier-options {
    padding-right: 55px;
}

/* Contenedor de gráficas a la derecha */
#charts {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: auto; /* Solo scroll si las gráficas crecen */
    width: 100%; /* Asegura que las gráficas ocupen todo el espacio */
}

/* Estilo de cada contenedor de gráfica */
.plot-container {
    border: 1px solid #ccc; /* Agrega un borde para visualizar el área de la gráfica */
    margin: 10px; /* Espaciado entre gráficas */
}

.grid-container {
    display: grid !important;;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
    grid-auto-rows: auto; /* Filas automáticas según el contenido */
    gap: 5px; /* Espaciado entre elementos */
    justify-content: center; /* Centrar la cuadrícula horizontalmente */
    align-items: center; /* Centrar los elementos verticalmente */
    max-width: 400px; /* Ajusta el ancho máximo del contenedor */
    margin: 0 auto; /* Centrar el contenedor */
    background-color: #f9f9f9; /* Fondo opcional */
    border-radius: 5px; /* Bordes redondeados opcionales */
}

.grid-item {
    text-align: center;
    padding: 5px;
    background-color: #e0e0e0; /* Fondo para distinguir elementos */
    border: 1px solid #ddd; /* Borde opcional */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 14px;
}
